<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dao.pagingMapper">

    <select id="noticeCountAll" parameterType="String" resultType="int">
        select count(*)
        from notice
        <where>
            <if test="keyword != null and keyword != ''">
                and title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                or content like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="storeCountAll" parameterType="String" resultType="int">
        select count(*)
        from store
        <where>
            <if test="keyword != null and keyword != ''">
                and sort like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                or name like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                or mainMenu like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                or price like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="keyword != null and keyword != ''">
                or address like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

</mapper>